<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  请注意这里的属性配置是有顺序的，不能改变  -->
    <!--  设置下划线与驼峰的命名的转换  -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--mapper-->
    <mappers>
        <mapper resource="com/gwm/mapper/OrdersMapper.xml"/>
    </mappers>

</configuration>
