<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myTestDIDao" class="com.gwm.dao.Impl.TestDIDaoImpl"/>

    <bean id="testDIService" class="com.gwm.service.Impl.TestDIServiceImpl">
        <constructor-arg index="0" ref="myTestDIDao"/>
    </bean>
</beans>