<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.dao.OrdersDao">
    <!-- 1>as别名 2>resMap  3>不知名的setting标签   -->
    <select id="selectOrdersById" parameterType="Integer" resultType="com.gwm.po.Orders" >
        select * from Orders where user_id = #{id}
    </select>


</mapper>